body {
    
    background: url('../../images/mecolor.jpg');
    color: #FFFEFF;
    

}
.navbar{
    margin-bottom: 0;
}
p {
    font-family: 'Pacifico', monospace;
    font-size: 30px;
}


.overlay {
    width: 100%;
    height: 100%;
    background: #66D7F9;
    opacity: .7;
    position:absolute;
}
.navbar-brand {
    padding-left: 0;
    font-size: 5em;
}



footer {
    height: 50px;
    margin-top: -50px;
}