
@{
    ViewBag.Title = "Index";
}

<div class="overlay"></div>
<div  id="greetingMessage" >
    <h1 class="navbar-brand text-center">Glad you stopped by!</h1>
    <button type="button" class="btn btn-success center" id="btn"><p>Let's Go!</p></button>
</div>


